*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 700px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;/*отступы между эл-ми*/
    border: 1px solid black;
    padding: 20px;
}
.current_text{
    min-height: 400px;
    border: 1px solid black;
    position: relative;
}
.arrow_buttons{
    width: 70px;
    height: 30px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: transparent;
    display: flex;
    justify-content:space-between;
}
.arrow_buttons button{
    width: 35px;
    background-color: transparent;
}
.btns{
    min-height: 30px;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
.btns button{
    height: 30px;
}